@model IEnumerable<ToDoListAppA2.Models.ToDoList>

@{
    ViewData["Title"] = "Index";
}

<h1>My To-Do Lists</h1>

<div class="d-flex justify-content-end mb-2">
    <a asp-action="Create" class="btn btn-primary">Create New To-Do List</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Shared With
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <details>
                        <summary>Show Emails</summary>
                        <ul style="margin-top: 0.5rem">
                            @if (item.SharedWith != null && item.SharedWith.Any())
                            {
                                @foreach (var user in item.SharedWith)
                                {
                                    <li>@user.SharedWithUser.Email</li>
                                }
                            }
                            else
                            {
                                <p>Shared with none</p>
                            }
                        </ul>
                    </details>
                </td>
                <td>
                    <a asp-controller="ToDoListNodes" asp-action="Index" asp-route-source="MyToDoLists" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Open</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-source="MyToDoLists" class="btn btn-outline-secondary btn-sm">Edit</a>
                    <a asp-action="Share" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Share</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table>
